.order-table {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    color: mediumseagreen;
  }

  &__total {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: blueviolet;

    small {
      color: mediumseagreen;
    }
  }
}

.table {
  width: 100%;
  padding: 1rem 0;

  thead, tr {
    display: flex;
    width: 100%;
  }

  th, td {
    &:first-child {
      flex: 0 1 5%;
    }

    flex: 1 1 20%;
    text-align: left;
    padding: .5rem;
  }

  th {
    font-size: 1.1rem;
    padding: 1rem .5rem;
    color: dodgerblue;
    border-top: 1px solid #cecece;
    border-bottom: 1.5px solid #cecece;
  }

  tbody {
    font-weight: 500;
    color: #494949;
    font-size: 1.1rem;
  }

  &__btn {
    padding: .3rem;
    border: 1.5px solid #00D35E4D;
    border-radius: .3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;

    &:hover {
      background: #00D35E4D;
    }

    &:nth-child(2) {
      border-color: #ffaf274a;

      &:hover {
        background: #ffaf274a;
      }
    }

    &:nth-child(3) {
      border-color: #ff000033;

      &:hover {
        background: #ff000033;
      }
    }

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  &__icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}